body {
  background: blue;
}
#box1{
  width: 300px;
  height: 300px;
  background-image: url("../image/logo.jpg");
}
#box2{
  width: 300px;
  height: 300px;
  background-image: url("../image/big.jpg");
}